$color-text-main: #151515;
$color-text-paragraph: #222;
$color-text-logo: #cfcfcf;

$color-text-main-dark: #fff;
$color-text-paragraph-dark: #e6e6e6;
$color-text-logo-dark: #565656;

$color-background: #f4f4f4;
$color-background-footer: #efefef;

$color-background-dark: #333;
$color-background-footer: #2f2f2f;

$color-button: #24b47e;

$font-size-title: 55px;
$font-size-paragraph: 18px;

$screen-large: 1440px;
$screen-small: 320px;

$font-family: "Inter", Arial, sans-serif;
